.profilepicture {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
  background-color: #ddddddb5;
}

.file-input-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100px;
  cursor: pointer;
  opacity: 0;
}
